/* GENERAL PAGE STYLE */
body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);

}

/* CALCULATOR CONTAINER */
#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

/* INPUT FIELD (DISPLAY) */
#display{
    width: grid ;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border:none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

/* GRID OF BUTTONS */
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}


/* COMMON BUTTON STYLES */
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

/* Hover Effect */
button:hover{
    background-color: hsl(0, 0%, 40%);
}
/* Effect when pressed */
button:active{
    background-color: hsl(0, 0%, 50%);
}

/* Styles for operator buttons */
.operator-btn{
    background-color: hsl(39, 100%, 52%);
}

.operator-btn:hover{
    background-color: hsl(324, 70%, 65%);
}

.operator-btn:active{   
    background-color: hsl(324, 70%, 75%);
}

#corner-sticker {
    width: 100px;
    height: 100px; 
    justify-self: center;
    align-self: center;
    padding: 0; 
}

#sqrt-icon {
    width: 50px;
    height: auto; 
    padding-top: 10px; 
}